@page "/Tarjeta"
<div class="cards-list">

    <div class="card 1">
        <div class="card_image"> <img src="https://cdn.prod.website-files.com/63500c9a931741e8e7d2687e/666a0fb6fe41aa40abec9993_Que%CC%81%20es%20Webpay.png" /> </div>
        <div class="card_title title-white">
            <p style="color: black">WebPlay</p>
        </div>
    </div>

    <div class="card 2">
        <div class="card_image">
            <img src="https://newsroom.latam.paypal-corp.com/image/pp_h_rgb_logo_tn.jpg" />
        </div>
        <div class="card_title title-white">
            <p style="color: black">PayPal</p>
        </div>
    </div>

    <div class="card 3">
        <div class="card_image">
            <img src="https://www.bikefactory.cl/img/cms/logo-transf-bank.png" />
        </div>
        <div class="card_title">
            <p>Transferencia</p>
        </div>
    </div>

   

</div>